.head-style {
  display: flex;
  justify-content: space-around;
  border: solid 1px whitesmoke;
  background-color: lightgrey;
}

.input-area {
  display: flex;
  justify-content: center;
  border: solid 1px green;
  background-color: lightgrey;
  margin: 20px
}